<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online.shixun.asl.module.student.dao.StudentDaoMyBatis">

	<!-- 获取列表 -->
	<select id="getStudents" resultType="StudentDTO" >
		SELECT
			*
		FROM
			db_student
	</select>
	
	

	<select id="getJavaStudents" resultType="StudentDTO" >
		SELECT
			*
		FROM
			db_student
		WHERE
		    direction="Java"
	</select>
	

	<select id="getDataStudents" resultType="StudentDTO" >
		SELECT
			*
		FROM
			db_student
		WHERE
		    direction="大数据"
	</select>
	

	<select id="getTestStudents" resultType="StudentDTO" >
		SELECT
			*
		FROM
			db_student
		WHERE
		    direction="软件测试"
	</select>
	
	

	<select id="getWebStudents" resultType="StudentDTO" >
		SELECT
			*
		FROM
			db_student
		WHERE
		    direction="Web前端"
	</select>
	

	<select id="getMaleStudents" resultType="StudentDTO" >
		SELECT
			*
		FROM
			db_student
		WHERE
		    gener="男"
	</select>
	
	<!-- 获取部门列表 -->
	<select id="getFemaleStudents" resultType="StudentDTO" >
		SELECT
			*
		FROM
			db_student
		WHERE
		    gener="女"
	</select>
	
	<!-- 新增   -->
	<insert id="saveStudent">
		INSERT INTO db_student(
			id,
			name,
			gener,
			object,
			direction,
			technology,
			ability
		) VALUES (
			#{id},
			#{name},
			#{gener},
			#{object},
			#{direction},
			#{technology},
			#{ability}
		)
	</insert>

</mapper>